<form enctype="multipart/form-data" action="" id="form" class="form">

<div class="well clearfix">
    <a id="addRow" class="btn btn-primary pull-right add-record" data-added="0">&nbsp;<i title='Add Recipient' class='icon-icons-x16-add'></i>&nbsp;Add Recipient</a>
</div>
<table class="table table-bordered" id="tabprincipal">
    <thead>
    <tr>
        <th>Recipient Name</th>
        <th>Cell Phone Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="tbl_posts_body">
    </tbody>
</table>
</div>

</form>
  